<h1>Which Lyrics are you looking for?</h1>

    <form action="/result" method="GET">
        <input type="text" placeholder="Artist Name" name="artistName" required></input>
        <input type="text" placeholder="Song Title" name="songName" required></input>
        <input type="submit"></input>
    </form>
